:root {
    --main-page-color: #1E6140;
    --secondary-page-color: #84C551;
    --main-icon-color: #84C551;
    --secondary-icon-color: #FFFFFF;
    --page-nav-button-color: #FFFFFF;
    --main-button-color: #E74E13;
    --accent-color: #8C3213;
    --main-text-color: #000000;
    --secondary-text-color: #FFFFFF;
    --main-content-text-color: rgba(0, 0, 0, 0.5);
    --secondary-content-text-color: rgba(255, 255, 255, 0.6);
    --accent-content-text-color: #1E6140;
    --price-text-color: #84BE51;




}