.seeds{
    background-image:  linear-gradient(31deg, rgba(132, 190, 81, 0.40) 0%, rgba(132, 190, 81, 0.00) 100%), 
    linear-gradient(217deg, rgba(232, 78, 15, 0.30) 0%, rgba(232, 78, 15, 0.00) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),
    url(/src/images/index/seeds/seeds-bg.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 1920px 1280px;
    
    @media screen and (min-width:768px) {
        background-position: left bottom;   
    }
  
    @media screen and (min-width:1921px) {
        background-position: center;   
    }
}

.seeds__item{
    &:not(:nth-child(2)){
        margin-bottom: 10px; 
    }
&:not(:last-child){
    @media screen and (min-width:768px) {
        margin-bottom: 10px; 
    }
    }
}
.seeds__item--hidden{
    @media screen and (max-width:767.5px) {
        display: none;  
    }
}

.seeds__text{
    color: var(--secondary-content-text-color);
}

.read-more{
    display: flex;
    align-items:center;
    border: 0px transparent;
    background-color: transparent;
    
    @media screen and (min-width:768px) {
        display: none; 
    }
}
.read-more__text{
    color: var(--secondary-text-color);
    font-weight: 700;
    line-height: 1.2;
}