[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-slider {
  width: 2.3330078125em;
}

.icon-arrow-left {
  width: 1.111328125em;
}

.icon-heart {
  width: 1.1875em;
}

.icon-leaf {
  width: 1.3203125em;
}
