<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__logo-area">
        <a href="./index.html" class="logo__link">
          <svg width="106" height="48">
            <use href="./images/icons/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer__text">
          Пропонуємо покупцям широкий вибір насіння овочів
        </p>
      </div>
      <div class="footer__item">
        <h3 class="footer__title">Товари</h3>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="" class="footer-list__link">
              <p class="footer-list__text">Каталог продукції</p>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="" class="footer-list__link">
              <p class="footer-list__text">Засоби захисту Рослин</p>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="" class="footer-list__link">
              <p class="footer-list__text">Насіння</p>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="" class="footer-list__link">
              <p class="footer-list__text">Добрива</p>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="" class="footer-list__link">
              <p class="footer-list__text">Агроному в поміч</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__title">Інформація</h3>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="" class="footer-list__link">
              <p class="footer-list__text">Про компанію</p>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="" class="footer-list__link">
              <p class="footer-list__text">Оплата і доставка</p>
            </a>
          </li>
          <li class="footer-list__item">
            <a href="" class="footer-list__link">
              <p class="footer-list__text">Партнери</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="contact-area">
        <h3 class="footer__title footer__title--biger">Контакти</h3>
        <ul>
          <li class="contact footer-list__item">
            <a href="tel:+380671150058" class="circle-icon-wrap">
              <svg width="16" height="16" class="circle-icon">
                <use href="./images/icons/icons.svg#icon-call"></use>
              </svg>
            </a>
            <div class="contact__information">
              <div class="contact__text">
                <p>+38 (067) 115 00 58</p>
                <svg class="small-arrow" width="12" height="12">
                  <use href="./images/icons/icons.svg#icon-arrow-down"></use>
                </svg>
              </div>
              <a href="" class="contact__link">
                <p class="contact__link-text">Замовити зворотній зв’язок</p>
              </a>
            </div>
          </li>
          <li class="contact footer-list__item">
            <a href="mailto:DAT@gmail.com" class="circle-icon-wrap">
              <svg width="16" height="16" class="circle-icon">
                <use href="./images/icons/icons.svg#icon-email"></use>
              </svg>
            </a>
            <div class="contact__information">
              <div class="contact__text">
                <p>DAT@gmail.com</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="strip"></div>
    <p class="copyright">&#169; 2022 DAT</p>
    <a href="#header" class="bottom-button">
      <svg width="20" height="20" class="bottom-button__icon">
        <use href="./images/icons/icons.svg#icon-arrow-top"></use>
      </svg>
    </a>
  </div>
</footer>
