<div class="header-top">
    <div class="header-top__content container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="" class="nav__link">
                        <p class="nav__text">Про нас</p> <svg class="top-header__icon top-header__icon-arrow" width="12"
                            height="12">
                            <use href="./images/icons/icons.svg#icon-arrow-down"></use>
                        </svg>
                    </a> </li>
                <li class="nav__item"><a href="" class="nav__link">
                        <p class="nav__text">Каталог продукції</p>
                    </a></li>
                <li class="nav__item"><a href="" class="nav__link">
                        <p class="nav__text">Оплата і доставка</p>
                    </a></li>
                <li class="nav__item"><a href="" class="nav__link">
                        <p class="nav__text">Партнери</p>
                    </a></li>
                <li class="nav__item"><a href="" class="nav__link">
                        <p class="nav__text">Новини</p>
                    </a></li>
                <li class="nav__item"><a href="" class="nav__link">
                        <p class="nav__text">Контакти</p>
                    </a></li>
            </ul>
        </nav>
        <div class="header-auth">
            <svg class="top-header__icon" width="20" height="20">
                <use href="./images/icons/icons.svg#icon-log-out"></use>
            </svg>
            <ul class="header-auth__list">
                <li class="header-auth__item">
                    <a href="" class="header-auth__link">
                        <p class="header-auth__text">Віхід </p>
                    </a>
                </li>
                <li class="header-auth__item">
                    <a href="" class="header-auth__link">
                        <p class="header-auth__text">Реєстрація</p>
                    </a>
                </li>
            </ul>
            <svg class="top-header__icon top-header__icon-menu" width="28" height="28">
                <use href="./images/icons/icons.svg#icon-menu"></use>
            </svg>
        </div>
    </div>
</div>
<div class="header-bottom container">
    <a href="" class="logo__link"><svg width="106" height="48">
            <use href="./images/icons/icons.svg#icon-logo"></use>
        </svg></a>
    <form name="search" class="search">
        <input class="search__input" type="text" name="search" placeholder="Пошук">
        <button type="submit" class="search__button"><svg width="15" height="15" class="top-header__icon search__icon">
                <use href="./images/icons/icons.svg#icon-loupe"></use>
            </svg></button>
    </form>
    <div class="phone-call"><a href="" class="circle-icon-link"><svg width="16" height="16" class="circle-icon">
                <use href="./images/icons/icons.svg#icon-call"></use>
            </svg></a></div>
    <div class="header-bottom__review">
        <ul class="circle-icons-list">
            <li class="circle-icons-item circle-icons-item--hiden"><a href="" class="circle-icon-link"><svg width="16"
                        height="16" class="circle-icon">
                        <use href="./images/icons/icons.svg#icon-heart"></use>
                    </svg></a></li>
            <li class="circle-icons-item"><a href="" class="circle-icon-link"><svg width="16" height="16"
                        class="circle-icon">
                        <use href="./images/icons/icons.svg#icon-shopping-cart"></use>
                    </svg>
                    <div class="circle-icon__counter"><span class="circle-icon__text">1</span></div>
                </a></li>
            <li class="circle-icons-item"><a href="" class="circle-icon-link"><svg width="16" height="16"
                        class="circle-icon">
                        <use href="./images/icons/icons.svg#icon-comparison"></use>
                    </svg>
                    <div class="circle-icon__counter"><span class="circle-icon__text">1</span></div>
                </a></li>
        </ul>
        <p class="header-price">0,0 грн</p>
    </div>
</div>