<header class="header-top" id="header">
    <div class="header-top__content container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="" class="nav__link">
                        <p class="nav__text">Про нас</p> <svg class="small-arrow" width="12"
                            height="12">
                            <use href="./images/icons/icons.svg#icon-arrow-down"></use>
                        </svg>
                    </a> </li>
                <li class="nav__item"><a href="" class="nav__link">
                        <p class="nav__text">Каталог продукції</p>
                    </a></li>
                <li class="nav__item"><a href="" class="nav__link">
                        <p class="nav__text">Оплата і доставка</p>
                    </a></li>
                <li class="nav__item"><a href="" class="nav__link">
                        <p class="nav__text">Партнери</p>
                    </a></li>
                <li class="nav__item"><a href="" class="nav__link">
                        <p class="nav__text">Новини</p>
                    </a></li>
                <li class="nav__item"><a href="" class="nav__link">
                        <p class="nav__text">Контакти</p>
                    </a></li>
            </ul>
        </nav>
        <div class="header-auth">
            <svg class="top-header__icon" width="20" height="20">
                <use href="./images/icons/icons.svg#icon-log-out"></use>
            </svg>
            <ul class="header-auth__list">
                <li class="header-auth__item">
                    <a href="" class="header-auth__link">
                        <p class="header-auth__text">Віхід </p>
                    </a>
                </li>
                <li class="header-auth__item">
                    <a href="" class="header-auth__link">
                        <p class="header-auth__text">Реєстрація</p>
                    </a>
                </li>
            </ul>
            <svg class="top-header__icon top-header__icon-menu" width="28" height="28">
                <use href="./images/icons/icons.svg#icon-menu"></use>
            </svg>
        </div>
    </div>
</header>