<div class="header-top">
    <div class="header-auth container">
        <svg class="top-header__icon" width="20" height="20">
            <use href="./images/icons/icons.svg#icon-log-out"></use>
        </svg>
        <ul>
            <li>
                <a href="">
                    <p class="header-auth__text">Віхід </p>
                </a>
            </li>
            <li class="item">
                <a href="">
                    <p class="header-auth__text">Реєстрація</p>
                </a>
            </li>
        </ul>
        <svg class="top-header__icon" width="28" height="28">
            <use href="./images/icons/icons.svg#icon-menu"></use>
        </svg>
    </div>
</div>
<div class="header-bottom container">header bottom</div>