.circle-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    transition: background-color 200ms 200ms;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.circle-icon {
    fill: var(--accent-color);
    transition: fill 200ms 200ms, background-color 200ms 200ms;

    .circle-icon-link:hover &,
    .circle-icon-link:focus & {
        fill: #FFFFFF;
        background-color: var(--accent-color);
    }
}

.circle-icon__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background-color: var(--secondary-page-color);
    border-radius: 50%;
}

.circle-icon__text {
    color: var(--secondary-text-color);
    font-size: 10px;
    line-height: 1.2;
}