
.circle-icon-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-icon-color);
  border: 1px solid var(--accent-color);
  transition: background-color 200ms 200ms;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  .contact > & {
    margin-right: 6px;

    .header-bottom__content & {
      @media screen and (max-width: 1199px) {
        margin-right: 0px;
      }
    }
  }
}

.circle-icon-wrap--card {
  width: 47px;
  height: 47px;
  border: 0px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
.circle-icon-wrap--mobile-menu{
    background-color: transparent;
    border: 1px solid var(--secondary-icon-color);
  &:hover,
  &:focus{
    background-color: var(--main-icon-color);
  }
}
.circle-icon {
  fill: var(--accent-color);
  transition: fill 200ms 200ms, background-color 200ms 200ms;
 
  .mobile-menu &{
    fill: var(--secondary-icon-color);
  }
.circle-icon-wrap:hover &,
.circle-icon-wrap:focus & {
    fill: #ffffff;
    background-color: var(--accent-color);
  }

 .circle-icon-wrap--mobile-menu:hover &,
  .circle-icon-wrap--mobile-menu:focus & {
    background-color:  var(--main-icon-color);
}
}

.circle-icon__counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  border: 1px solid  transparent;
  background-color: var(--secondary-page-color);
  border-radius: 50%;
  transition: border 200ms 200ms;
  .circle-icon-wrap--mobile-menu:hover &,
  .circle-icon-wrap--mobile-menu:focus & {
    border: 1px solid  var(--secondary-icon-color);
}

}

.circle-icon__text {
  color: var(--secondary-text-color);
  font-size: 10px;
  line-height: var(--main-text-line-height);
}
