.contact {
  display: flex;
  align-items: center;

  .mobile-menu &{
    margin-bottom: 20px;
  }
  .header-bottom__content & {
    @media screen and (max-width: 767.5px) {
      display: none;
    }
  }
}


.contact__information {
  .header-bottom__content & {
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
}
.contact__text {
  display: flex;
  align-items: baseline;
  .mobile-menu &{
    color: var(--secondary-text-color);
  }
}

.contact__link-text {
  color: var(--price-text-color);
  text-decoration: underline;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
}
