.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;

    @media screen and (min-width: 320px) {
        max-width: 482px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1450px) {
        max-width: 1450px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.small-container {
    @media screen and (min-width: 1450px) {
        padding-left: 170px;
        padding-right: 170px;
    }
}