.nav {
    display: none;

    @media screen and (min-width:768px) {
        display: block;
    }
}
.nav-mobile-menu{
   padding: 40px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.nav__list {

.header-top__content &{
    display: flex;
    flex-wrap: wrap;


    @media screen and (max-width:1199px) {
        width: 90%;
        gap: 10px;
    }
}}

.nav__item {
    padding: 3px;
    border: 1px solid transparent;
    transition: border-color 200ms 200ms;
    &:focus,
    &:hover{
        border-color:var(--secondary-text-color);
    }

    @media screen and (max-width:1199px) {
        flex-basis: calc((100% - 2*10px) / 3);

    }

    @media screen and (min-width:1200px) {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    .mobile-menu &{
      display: flex;
      justify-content: center;
      &:not(:last-child){
      margin-bottom: 40px;}
    }
}

.nav__link {
    display: flex;
    align-items: center;

}

.nav__text {
    color: var(--secondary-text-color);
    font-weight: 300;
    font-size: var(--main-text-font-size);
    line-height: 1.25;
    
    .mobile-menu &{
        font-size: 22px;
        line-height: 1.23;
    }
}