.nav {
    display: none;

    @media screen and (min-width:768px) {
        display: block;
    }
}

.nav__list {
    display: flex;
    flex-wrap: wrap;


    @media screen and (max-width:1199px) {
        width: 90%;
        gap: 10px;
    }
}

.nav__item {

    @media screen and (max-width:1199px) {
        flex-basis: calc((100% - 2*10px) / 3);

    }

    @media screen and (min-width:1200px) {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

.nav__link {
    display: flex;
    align-items: center;

}

.nav__text {
    font-weight: 300;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.25;
    transition: transform 200ms 200ms;

    .nav__link:focus &,
    .nav__link:hover & {
        transform: scale(1.1);
    }

}