.border-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    width: 41px;
    height: 41px;
}

.sircle-icon {
    fill: var(--accent-color);
}