.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid var(--main-icon-color);
  transition: background-color 200ms 200ms;

  &:hover,
  &:focus {
    background-color: var(--main-icon-color);
  }

  @media screen and (max-width: 767.5px) {
    display: none;
  }
}

.slider-button--partners {
  background-color: var(--main-icon-color);
}

.slider-button__icon {
  fill: var(--main-icon-color);
  transition: fill 200ms 200ms, background-color 200ms 200ms;
  .slider-button--partners > & {
    fill: #ffffff;
  }
  .slider-button:hover &,
  .slider-button:focus & {
    fill: #ffffff;
    background-color: var(--main-icon-color);
  }
}
