.slider-button-wrap {
display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 1px solid var(--main-icon-color);
transition: background-color 200ms 200ms;
 
 &:hover,
    &:focus {
      background-color: var(--main-icon-color);
    }
  
    @media screen and (max-width: 767.5px) {
      display: none;
    }
  }
  
  .circle-icon-link--partners {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .circle-icon-link--partners-left {
    left: 25px;
  }
  .circle-icon-link--partners-right {
    right: 25px;
  }
  .circle-icon--arrow {
    fill: var(--main-icon-color);
    transition: fill 200ms 200ms, background-color 200ms 200ms;
  
    .slider-button-wrap:hover &,
    .slider-button-wrap:focus & {
      fill: #ffffff;
      background-color: var(--main-icon-color);
    }
  }