.title-area {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 15px;
    text-align: center;
    @media screen and (min-width:768px) {
        margin-bottom: 40px;
    }
}

.title-area--without-margin {
    margin-bottom: 0;
}

.title {
    margin: 0 9px;
    font-size: 22px;

 @media screen and (max-width:354px) {
    max-width: 185px
}

    @media screen and (min-width:768px) {
        margin: 0 17px;
        font-size: 34px;
    }

    @media screen and (min-width:1200px) {
        font-size: 45px;
    }
}

.title--secondary-color {
    color: var(--secondary-text-color);
}