.first-wing {
    position: absolute;
    right: 7.6%;
    top: -14.5%;
    transform: scaleX(-1);
    filter: blur(2px);
    pointer-events: none;

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 124px;
        height: 89px;
    }
}

.two-wings {
    position: absolute;
    left: -15.5%;
    bottom: -17%;
}

.second-wing {
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 124px;
        height: 89px;
    }
}

.third-wing {
    position: relative;
    bottom: 75%;
    left: 50%;
    transform: translate(-50%, -75%) scaleX(-1);
    filter: blur(2px);

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 76px;
        height: 55px;
    }
}

.about__big-wing {
    position: absolute;
    top: 52%;
    left: -7.7%;

    @media screen and (max-width:767.5px) {
        display: none;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 124px;
        height: 89px;
    }
}

.about__small-wing {
    position: absolute;
    left: 13%;
    bottom: -3.7%;
    filter: blur(2px);
    transform: scaleX(-1);

    @media screen and (max-width:767.5px) {
        display: none;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 76px;
        height: 55px;
    }
}