.footer {
  position: relative;
  overflow: hidden;
  background-color: var(--footer-bg-color);
  padding-top: 40px;
  padding-bottom: 20px;
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 41px;
  @media screen and (min-width: 768px) {
    margin-bottom: 81px;
    column-gap: 38px;
  }
  @media screen and (max-width: 1199px) {
    row-gap: 20px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin-bottom: 118px;
    column-gap: 70px;
  }
}
.footer__logo-area {
  flex-basis: 100%;
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 60px) / 4);
  }
}

.footer-list__text {
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.footer__item {
  @media screen and (max-width: 767.5px) {
    flex-basis: 50%;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 60px) / 4);
  }
}

.footer__information {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767.5px) {
    margin-bottom: 20px;
  }
}
.footer__text {
  color: var(--main-content-text-color);
}

.strip {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-bottom: 17px;
}

.footer__title {
  margin-bottom: 26px;
  font-weight: 600;
  font-size: 16px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.footer__title--biger {
  font-size: 18px;
}

.footer-list__item {
   padding: 3px;
  border: 1px solid transparent;
  transition: border-color 200ms 200ms;
 
  .footer-list &:hover,
  .footer-list &:focus{
    border-color: var(--main-text-color);
  }
  &:not(:last-child) {
    margin-bottom: 21px;
  }
}

.copyright {
  text-align: center;
  color: var(--main-text-color);
  opacity: 0.5;
}
.contact-area {
  flex-shrink: 0;
}
