.header-top {
    background-color: var(--main-page-color);
}
.header-bottom {
    background-color: red;
}
.header-auth{
    padding-top: 11px;
    padding-bottom: 11px;
}
.header-mobile-text {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}
.heder-desktop-text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;}

.main-title-text-mobile{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
color: #000000}
.main-title-text-desktop{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 67px;
color: #000000;

}
.main-title-second-text-mobile{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 30px;
color: #000000;

}
.main-title-second-text-desktop{
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 55px;
line-height: 67px;
color: #000000;}

.title-text-mobile{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #000000;
color: #FFFFFF;
}
.title-text-dextop{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 55px;
color: #000000;
color: #FFFFFF;
}