.header-top {
    background-color: var(--main-page-color);
}

.header-auth {
    padding-top: 11px;
    padding-bottom: 11px;
}

.header-auth__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.22;
    color: var(--secondary-text-color);

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.25;
    }
}

.item:before {
    content: '';
    display: block;
    width: 1px;
    height: 18px;
    background-color: var(--secondary-text-color);

    @media screen and (min-width: 1200px) {
        height: 16px;
    }
}

.header-bottom {
    background-color: red;
}