.header-top {
    background-color: var(--main-page-color);
}

.header-top {
    padding-top: 11px;
    padding-bottom: 11px;

    @media screen and (min-width: 768px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.header-top__content{
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}}
.header-auth {
    display: flex;
   align-items: center;
   
}

.header-auth__list {
    display: flex;
    margin-left: 8px;
}

.header-auth__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.22;
    color: var(--secondary-text-color);

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.25;
    }
}

.header-auth__item:not(:last-child)::after {
    content: '';
    display: block;
    margin-left: 8px;
    width: 1px;
    height: 18px;
    background-color: var(--secondary-text-color);

    @media screen and (min-width: 768px) {
        height: 16px;
    }
}
.header-auth__item{
    display: flex;
    &:not(:first-child){
    margin-left: 8px;
    }
}
.header-bottom {
    background-color: red;
}