.menu-button {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.is-open-menu .menu-icon {
  display: none;
}

.cross-icon {
  display: none;
  .is-open-menu & {
    display: block;
  }
}

.mobile-menu {
  @media screen and (max-width: 767.5px) {
    position: fixed;
    top: 52px;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 2000ms 200ms;
    background-color: var(--main-page-color);
    .is-open-menu & {
      transform: translateX(0%);
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
