<div class="bg-hero ">
    <div class="hero container">
        <div class="header-bottom--hero">
            <div class="header-bottom__content">
                <a href="" class="logo__link">
                        <svg width="106" height="48">
                            <use href="./images/icons/icons.svg#icon-logo"></use>
                        </svg>
                    </a>
                <form name="search" class="search">
                    <input class="search__input" type="text" name="search" placeholder="Пошук">
                    <button type="submit" class="search__button"><svg width="15" height="15"
                            class="top-header__icon search__icon">
                            <use href="./images/icons/icons.svg#icon-loupe"></use>
                        </svg></button>
                </form>
                <div class="phone-call"><a href="" class="circle-icon-link circle-icon-link--border"><svg width="16"
                            height="16" class="circle-icon">
                            <use href="./images/icons/icons.svg#icon-call"></use>
                        </svg></a>
                    <div class="phone-call__information">
                        <div class="phone-call__number">
                            <p>+38 (067) 115 00 58</p> <svg class="top-header__icon top-header__icon-arrow" width="12"
                                height="12">
                                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
                            </svg>
                        </div>
                        <a href="" class="phone-call__link">
                            <p class="phone-call__text">Замовити зворотній зв’язок</p>
                        </a>
                    </div>
                </div>
                <div class="header-bottom__review">
                    <ul class="circle-icons-list">
                        <li class="circle-icons-item circle-icons-item--hiden"><a href=""
                                class="circle-icon-link circle-icon-link--border"><svg width="16" height="16"
                                    class="circle-icon">
                                    <use href="./images/icons/icons.svg#icon-heart"></use>
                                </svg></a></li>
                        <li class="circle-icons-item"><a href="" class="circle-icon-link circle-icon-link--border"><svg
                                    width="16" height="16" class="circle-icon">
                                    <use href="./images/icons/icons.svg#icon-shopping-cart"></use>
                                </svg>
                                <div class="circle-icon__counter"><span class="circle-icon__text">1</span></div>
                            </a></li>
                        <li class="circle-icons-item"><a href="" class="circle-icon-link circle-icon-link--border"><svg
                                    width="16" height="16" class="circle-icon">
                                    <use href="./images/icons/icons.svg#icon-comparison"></use>
                                </svg>
                                <div class="circle-icon__counter"><span class="circle-icon__text">1</span></div>
                            </a></li>
                    </ul>
                    <p class="header-price">0,0 грн</p>
                </div>
            </div>
            <nav class="page-nav">
                <ul class="page-nav__list">
                    <li class="page-nav__item"><button type="button" class="button button--page-nav">
                            <div class="button-content"><svg class="top-header__icon top-header__icon-button">
                                    <use href="./images/icons/icons.svg#icon-seeds"></use>
                                </svg>
                                <p class="button__text">Насіння</p>
                            </div>
                            <svg class="top-header__icon top-header__icon-arrow" width="12" height="12">
                                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
                            </svg>
                        </button></li>
                    <li class="page-nav__item page-nav__item--hidden"><button type="button"
                            class="button button--page-nav">
                            <div class="button-content"><svg class="top-header__icon top-header__icon-button">
                                    <use href="./images/icons/icons.svg#icon-sapling"></use>
                                </svg>
                                <p class="button__text">Засоби захисту рослин</p>
                            </div>
                            <svg class="top-header__icon top-header__icon-arrow" width="12" height="12">
                                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
                            </svg>
                        </button></li>
                    <li class="page-nav__item page-nav__item--hidden"><button type="button"
                            class="button button--page-nav">
                            <div class="button-content"><svg class="top-header__icon top-header__icon-button">
                                    <use href="./images/icons/icons.svg#icon-fertilizer"></use>
                                </svg>
                                <p class="button__text">Добрива</p>
                            </div>
                            <svg class="top-header__icon top-header__icon-arrow" width="12" height="12">
                                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
                            </svg>
                        </button></li>
                    <li class="page-nav__item page-nav__item--hidden"><button type="button"
                            class="button button--page-nav">
                            <div class="button-content"><svg class="top-header__icon top-header__icon-button">
                                    <use href="./images/icons/icons.svg#icon-frame"></use>
                                </svg>
                                <p class="button__text">Кормова група</p>
                            </div>
                            <svg class="top-header__icon top-header__icon-arrow" width="12" height="12">
                                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
                            </svg>
                        </button></li>
                    <li class="page-nav__item page-nav__item--hidden"><button type="button"
                            class="button button--page-nav">
                            <div class="button-content"><svg class="top-header__icon top-header__icon-button">
                                    <use href="./images/icons/icons.svg#icon-farmer"></use>
                                </svg>
                                <p class="button__text">Агроному в поміч</p>
                            </div>
                            <svg class="top-header__icon top-header__icon-arrow" width="12" height="12">
                                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
                            </svg>
                        </button></li>
                </ul>
            </nav>
        </div>
        <div class="hero__content">
            <div class="hero__text-block">
                <svg class="leaf leaf--hero" width="32" height="25">
                    <use href="./images/icons/icons.svg#icon-leaf"></use>
                </svg>
                <div class="hero__text-area">
                    <h1 class="hero__title">Аграрний <br> <span class="hero__title--secondary">інтернет-магазин</span>
                    </h1>
                    <p class="hero__text">Основна сфера діяльності – дистрибуція насіння, засобів захисту рослин,
                        мінеральних
                        макро - та мікродобрив</p>
                </div>
            </div>
            <div class="hero__img-mobile">
                <img src="./images/wing/wing.png" class="first-wing" alt="big-wing" width="102" height="73">
                <div class="two-wings">
                    <img src="./images/wing/wing.png" class="second-wing" alt="big-wing" width="98" height="71">
                    <img src="./images/wing/wing.png" class="third-wing" alt="big-wing" width="60" height="44">
                </div>
            </div>
            <button type="button" class="button button--hero">
                <p class="button__text">Про компанію</p>
            </button>
        </div>
    </div>
    <div class="hero__img">
        <img src="./images/wing/wing.png" class="first-wing" alt="big-wing" width="246" height="178">
        <div class="two-wings">
            <img src="./images/wing/wing.png" class="second-wing" alt="big-wing" width="246" height="178">
            <img src="./images/wing/wing.png" class="third-wing" alt="big-wing" width="152" height="110">
        </div>
    </div>
</div>