<div class="bg-hero">
  <div class="hero container">
    <div>
      <div class="header-bottom__content">
        <a href="./index.html" class="logo__link">
          <svg width="106" height="48">
            <use href="./images/icons/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <form name="search" class="search">
          <input
            class="search__input"
            type="text"
            name="search"
            placeholder="Пошук"
          />
          <button type="submit" class="search__button">
            <svg width="15" height="15" class="search__icon">
              <use href="./images/icons/icons.svg#icon-loupe"></use>
            </svg>
          </button>
        </form>
        <div class="contact">
          <a href="tel:+380671150058" class="circle-icon-wrap"
            ><svg width="16" height="16" class="circle-icon">
              <use href="./images/icons/icons.svg#icon-call"></use>
            </svg>
          </a>
          <div class="contact__information">
            <div class="contact__text">
              <p>+38 (067) 115 00 58</p>
              <svg class="small-arrow" width="12" height="12">
                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
              </svg>
            </div>
            <a href="" class="contact__link">
              <p class="contact__link-text">Замовити зворотній зв’язок</p>
            </a>
          </div>
        </div>
        <div class="header-bottom__review">
          <ul class="circle-icons-list">
            <li class="circle-icons-item circle-icons-item--hiden">
              <a href="" class="circle-icon-wrap"
                ><svg width="16" height="16" class="circle-icon">
                  <use href="./images/icons/icons.svg#icon-heart"></use>
                </svg>
              </a>
            </li>
            <li class="circle-icons-item">
              <a href="" class="circle-icon-wrap">
                <svg width="16" height="16" class="circle-icon">
                  <use href="./images/icons/icons.svg#icon-shopping-cart"></use>
                </svg>
                <div class="circle-icon__counter">
                  <span class="circle-icon__text">1</span>
                </div>
              </a>
            </li>
            <li class="circle-icons-item">
              <a href="" class="circle-icon-wrap"
                ><svg width="16" height="16" class="circle-icon">
                  <use href="./images/icons/icons.svg#icon-comparison"></use>
                </svg>
                <div class="circle-icon__counter">
                  <span class="circle-icon__text">1</span>
                </div>
              </a>
            </li>
          </ul>
          <p class="header-price">0,0 грн</p>
        </div>
      </div>
      <nav class="page-nav">
        <ul class="page-nav__list">
          <li class="page-nav__item">
            <a href="" class="button button--page-nav">
              <div class="button-content">
                <svg class="button__icon">
                  <use href="./images/icons/icons.svg#icon-seeds"></use>
                </svg>
                <p class="button__text">Насіння</p>
              </div>
              <svg class="small-arrow" width="12" height="12">
                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
              </svg>
            </a>
          </li>
          <li class="page-nav__item page-nav__item--hidden">
            <a href="" class="button button--page-nav">
              <div class="button-content">
                <svg class="button__icon">
                  <use href="./images/icons/icons.svg#icon-sapling"></use>
                </svg>
                <p class="button__text">Засоби захисту рослин</p>
              </div>
              <svg class="small-arrow" width="12" height="12">
                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
              </svg>
            </a>
          </li>
          <li class="page-nav__item page-nav__item--hidden">
            <a href="" class="button button--page-nav">
              <div class="button-content">
                <svg class="button__icon">
                  <use href="./images/icons/icons.svg#icon-fertilizer"></use>
                </svg>
                <p class="button__text">Добрива</p>
              </div>
              <svg class="small-arrow" width="12" height="12">
                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
              </svg>
            </a>
          </li>
          <li class="page-nav__item page-nav__item--hidden">
            <a href="" class="button button--page-nav">
              <div class="button-content">
                <svg class="button__icon">
                  <use href="./images/icons/icons.svg#icon-frame"></use>
                </svg>
                <p class="button__text">Кормова група</p>
              </div>
              <svg class="small-arrow" width="12" height="12">
                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
              </svg>
            </a>
          </li>
          <li class="page-nav__item page-nav__item--hidden">
            <a href="" class="button button--page-nav">
              <div class="button-content">
                <svg class="button__icon">
                  <use href="./images/icons/icons.svg#icon-farmer"></use>
                </svg>
                <p class="button__text">Агроному в поміч</p>
              </div>
              <svg class="small-arrow" width="12" height="12">
                <use href="./images/icons/icons.svg#icon-arrow-down"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="hero__content">
      <div class="hero__text-block">
        <svg class="leaf leaf--hero" width="32" height="25">
          <use href="./images/icons/icons.svg#icon-leaf"></use>
        </svg>
        <div class="hero__text-area">
          <h1 class="hero__title">
            Аграрний
            <br />
            <span class="hero__title--secondary">інтернет-магазин</span>
          </h1>
          <p class="hero__text">
            Основна сфера діяльності – дистрибуція насіння, засобів захисту
            рослин, мінеральних макро - та мікродобрив
          </p>
        </div>
      </div>
      <div class="hero__img-mobile">
        <img
          srcset="
            ./images/general/wing/wing-246.png 246w,
            ./images/general/wing/wing-492.png 492w,
            ./images/general/wing/wing-738.png 738w
          "
          sizes="102px"
          src="./images/general/wing/wing-246.png"
          class="first-wing"
          alt="big-wing"
          width="102"
          height="73"
        />
        <div class="two-wings">
          <img
            
            srcset="
              ./images/general/wing/wing-246.png 246w,
              ./images/general/wing/wing-492.png 492w,
              ./images/general/wing/wing-738.png 738w
            "
            sizes="98px"
            class="second-wing"
            src="./images/general/wing/wing-246.png"
            alt="big-wing"
            width="98"
            height="71"
          />
          <img
            srcset="
              ./images/general/wing/wing-246.png 246w,
              ./images/general/wing/wing-492.png 492w,
              ./images/general/wing/wing-738.png 738w
            "
            sizes="60px"
            src="./images/general/wing/wing-246.png"
            class="third-wing"
            alt="big-wing"
            width="60"
            height="44"
          />
        </div>
      </div>
      <a href="" class="button button--hero">
        <p class="button__text">Про компанію</p>
      </a>
    </div>
  </div>
  <div class="hero__img">
    <img
      srcset="
        ./images/general/wing/wing-246.png 246w,
        ./images/general/wing/wing-492.png 492w,
        ./images/general/wing/wing-738.png 738w
      "
      sizes="(min-width: 1200px) 246px, (min-width: 768px) 124px"
      src="./images/general/wing/wing-246.png"
      class="first-wing"
      alt="big-wing"
      width="246"
      height="178"
    />
    <div class="two-wings">
      <img
        srcset="
          ./images/general/wing/wing-246.png 246w,
          ./images/general/wing/wing-492.png 492w,
          ./images/general/wing/wing-738.png 738w
        "
        sizes="(min-width: 1200px) 246px, (min-width: 768px) 124px"
        src="./images/general/wing/wing-246.png"
        class="second-wing"
        alt="big-wing"
        width="246"
        height="178"
      />
      <img
        srcset="
        ./images/general/wing/wing-246.png 246w,
          ./images/general/wing/wing-492.png 492w,
          ./images/general/wing/wing-738.png 738w
        "
        sizes="(min-width: 1200px) 246px, (min-width: 768px) 76px"
        src="./images/general/wing/wing-246.png"
        class="third-wing"
        alt="big-wing"
        width="152"
        height="110"
      />
    </div>
  </div>
</div>
