<section>
  <div class="title-area">
    <svg class="leaf" width="14" height="11">
      <use href="./images/icons/icons.svg#icon-leaf"></use>
    </svg>
    <h2 class="title">Партнери</h2>
    <svg class="leaf leaf--right" width="14" height="11">
      <use href="./images/icons/icons.svg#icon-leaf"></use>
    </svg>
  </div>
  <div class="partners">
    <a
      href=""
      class="circle-icon-link circle-icon-link--arrow circle-icon-link--partners circle-icon-link--partners-left"
    >
      <svg width="16" height="16" class="circle-icon circle-icon--arrow">
        <use href="./images/icons/icons.svg#icon-arrow-left"></use>
      </svg>
    </a>
    <a
      href=""
      class="circle-icon-link circle-icon-link--arrow circle-icon-link--partners circle-icon-link--partners-right"
    >
      <svg width="16" height="16" class="circle-icon circle-icon--arrow">
        <use href="./images/icons/icons.svg#icon-arrow-right"></use>
      </svg>
    </a>
    <ul class="partners-list">
      <li class="partners-list__item">
        <a href="" class="partner-list__link"
          ><img
            srcset="
              /src/images/partners/adama/adama-175.png 175w,
              /src/images/partners/adama/adama-350.png 350w,
              /src/images/partners/adama/adama-525.png 525w
            "
              sizes="(max-width: 767.5px)  calc((100vw - (3*20px))/2), (min-width: 1200px) calc((100vw - (7*30px))/6), (min-width: 768px) calc((100vw - (4*30px))/3)"
            src="/src/images/partners/adama/adama-175.png"
            alt="adama"
            class="partner-list__img"
        /></a>
      </li>
      <li class="partners-list__item">
        <a href="" class="partner-list__link"
          ><img
            srcset="
              /src/images/partners/basf/basf-175.png 175w,
              /src/images/partners/basf/basf-350.png 350w,
              /src/images/partners/basf/basf-525.png 525w
            "
              sizes="(max-width: 767.5px)  calc((100vw - (3*20px))/2), (min-width: 1200px) calc((100vw - (7*30px))/6), (min-width: 768px) calc((100vw - (4*30px))/3)"
            src="/src/images/partners/basf/basf-175.png"
            alt="basf"
            class="partner-list__img"
        /></a>
      </li>
      <li class="partners-list__item">
        <a href="" class="partner-list__link"
          ><img
            srcset="
              /src/images/partners/dekalb/dekalb-175.png 175w,
              /src/images/partners/dekalb/dekalb-350.png 350w,
              /src/images/partners/dekalb/dekalb-525.png 525w
            "
              sizes="(max-width: 767.5px)  calc((100vw - (3*20px))/2), (min-width: 1200px) calc((100vw - (7*30px))/6), (min-width: 768px) calc((100vw - (4*30px))/3)"
            src="/src/images/partners/dekalb/dekalb-175.png"
            alt="dekalb"
            class="partner-list__img"
        /></a>
      </li>
      <li class="partners-list__item">
        <a href="" class="partner-list__link"
          ><img
            srcset="
              /src/images/partners/idea/idea-175.png 175w,
              /src/images/partners/idea/idea-350.png 350w,
              /src/images/partners/idea/idea-525.png 525w
            "
              sizes="(max-width: 767.5px)  calc((100vw - (3*20px))/2), (min-width: 1200px) calc((100vw - (7*30px))/6), (min-width: 768px) calc((100vw - (4*30px))/3)"
            src="/src/images/partners/idea/idea-175.png"
            alt="idea"
            class="partner-list__img"
        /></a>
      </li>
      <li class="partners-list__item">
        <a href="" class="partner-list__link"
          ><img
            srcset="
              /src/images/partners/rodon/rodon-175.png 175w,
              /src/images/partners/rodon/rodon-350.png 350w,
              /src/images/partners/rodon/rodon-525.png 525w
            "
            sizes="(max-width: 767.5px)  calc((100vw - (3*20px))/2), (min-width: 1200px) calc((100vw - (7*30px))/6), (min-width: 768px) calc((100vw - (4*30px))/3)"
            src="/src/images/partners/rodon/rodon-175.png"
            alt="rodon"
            class="partner-list__img"
        /></a>
      </li>
      <li class="partners-list__item">
        <a href="" class="partner-list__link"
          ><img
            srcset="
              /src/images/partners/adama/adama-175.png 175w,
              /src/images/partners/adama/adama-350.png 350w,
              /src/images/partners/adama/adama-525.png 525w
            "
              sizes="(max-width: 767.5px)  calc((100vw - (3*20px))/2), (min-width: 1200px) calc((100vw - (7*30px))/6), (min-width: 768px) calc((100vw - (4*30px))/3)"
            src="/src/images/partners/adama/adama-175.png"
            alt="adama"
            class="partner-list__img"
        /></a>
      </li>
      <li class="partners-list__item">
        <a href="" class="partner-list__link"
          ><img
            srcset="
              /src/images/partners/basf/basf-175.png 175w,
              /src/images/partners/basf/basf-350.png 350w,
              /src/images/partners/basf/basf-525.png 525w
            "
              sizes="(max-width: 767.5px)  calc((100vw - (3*20px))/2), (min-width: 1200px) calc((100vw - (7*30px))/6), (min-width: 768px) calc((100vw - (4*30px))/3)"
            src="/src/images/partners/basf/basf-175.png"
            alt="basf"
            class="partner-list__img"
        /></a>
      </li>
      <li class="partners-list__item">
        <a href="" class="partner-list__link"
          ><img
            srcset="
              /src/images/partners/dekalb/dekalb-175.png 175w,
              /src/images/partners/dekalb/dekalb-350.png 350w,
              /src/images/partners/dekalb/dekalb-525.png 525w
            "
              sizes="(max-width: 767.5px)  calc((100vw - (3*20px))/2), (min-width: 1200px) calc((100vw - (7*30px))/6), (min-width: 768px) calc((100vw - (4*30px))/3)"
            src="/src/images/partners/dekalb/dekalb-175.png"
            alt="dekalb"
            class="partner-list__img"
        /></a>
      </li>
    </ul>
  </div>
  <svg width="70" height="30" class="slider-icon">
    <use href="./images/icons/icons.svg#icon-slider-main"></use>
  </svg>
</section>
