<section>
        <div class="title-area">
            <svg class="leaf" width="14" height="11">
                <use href="./images/icons/icons.svg#icon-leaf"></use>
            </svg>
            <h2 class="title">Партнери</h2>
            <svg class="leaf leaf--right" width="14" height="11">
                <use href="./images/icons/icons.svg#icon-leaf"></use>
            </svg>
        </div>
            <a href="" class="circle-icon-link circle-icon-link--arrow  "><svg width="16" height="16"
                    class="circle-icon circle-icon--arrow">
                    <use href="./images/icons/icons.svg#icon-arrow-left"></use>
                </svg>
            </a>
            <ul class="partners-list">
                <li class="partners-list__item"><a href="" class="partner-list__link"><img src="/src/images/partners/adama/adama.png" alt="adama"
                        class="partner-list__img"></a></li>
                <li class="partners-list__item"><a href="" class="partner-list__link"><img src="/src/images/partners/basf/basf.png" alt="basf"
                        class="partner-list__img"></a></li>
                <li class="partners-list__item"><a href="" class="partner-list__link"><img src="/src/images/partners/dekalb/dekalb.png" alt="dekalb" 
                        class="partner-list__img"></a></li>
                <li class="partners-list__item"><a href="" class="partner-list__link"><img src="/src/images/partners/idea/idea.png" alt="idea" 
                        class="partner-list__img"></a></li>
                <li class="partners-list__item"><a href="" class="partner-list__link"><img src="/src/images/partners/rodon/rodon.png" alt="rodon" 
                        class="partner-list__img"></a></li>
            </ul>
            <a href="" class="circle-icon-link circle-icon-link--arrow"><svg width="16" height="16"
                    class="circle-icon circle-icon--arrow">
                    <use href="./images/icons/icons.svg#icon-arrow-right"></use>
                </svg>
            </a>
        </div>
        <svg width="70" height="30" class="slider-icon">
            <use href="./images/icons/icons.svg#icon-slider-main"></use>
        </svg>
 
</section>