<section class="shares">
    <div class="container container--biger">
        <div class="title-area title-area--without-margin">
            <svg class="leaf" width="14" height="11">
                <use href="./images/icons/icons.svg#icon-leaf"></use>
            </svg>
            <h2 class="title title--secondary-color">Акції</h2>
            <svg class="leaf leaf--right" width="14" height="11">
                <use href="./images/icons/icons.svg#icon-leaf"></use>
            </svg>
        </div>
        <div class="products-area">
            <a href="" class="circle-icon-link circle-icon-link--arrow  "><svg width="16" height="16"
                    class="circle-icon circle-icon--arrow">
                    <use href="./images/icons/icons.svg#icon-arrow-left"></use>
                </svg>
            </a>
            <ul class="product-list">
                <li class="product-list__item">
                    <div class="product-card">
                        <svg width="16" height="16" class="product-card__icon">
                            <use href="./images/icons/icons.svg#icon-comparison"></use>
                        </svg>
                        <div class="product-card__img-area">
                            <img srcset="/src/images/products/product1/product1.jpg 1x, 
                            /src/images/products/product1/product1@2x.jpg 2x, 
                            /src/images/products/product1/product1@3x.jpg 3x" 
                            src="/src/images/products/product1/product1.jpg" alt="bottle" class="product-cart__img"
                                width="97" heigth="132">
                        </div>
                        <div class="product-card__information-area">
                            <div>
                                <p class="product-card__name">Петунія Софістика F1</p>
                                <p class="product-card__availability">В наявності</p>
                            </div>
                            <div class="shopping-area">
                                <div>
                                    <p class="product-card__price">20 грн</p>
                                    <p class="product-card__numerosity">1 шт</p>
                                </div>
                                <a href="" class="circle-icon-link circle-icon-link--shadow"><svg width="16" height="16"
                                        class="circle-icon">
                                        <use href="./images/icons/icons.svg#icon-shopping-cart"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product-list__item">
                    <div class="product-card">
                        <svg width="16" height="16" class="product-card__icon">
                            <use href="./images/icons/icons.svg#icon-comparison"></use>
                        </svg>
                        <div class="product-card__img-area">
                            <img srcset="/src/images/products/product2/product2.jpg 1x, 
                            /src/images/products/product2/product2@2x.jpg 2x, 
                            /src/images/products/product2/product2@3x.jpg 3x" 
                            src="/src/images/products/product2/product2.jpg" alt="bottle" class="product-cart__img"
                                width="97" heigth="132">
                        </div>
                        <div class="product-card__information-area">
                            <div>
                                <p class="product-card__name">Скор 250 ЕС к.э.</p>
                                <p class="product-card__availability">В наявності</p>
                            </div>
                            <div class="shopping-area">
                                <div>
                                    <p class="product-card__price">589 грн</p>
                                    <p class="product-card__numerosity">1 шт</p>
                                </div>
                                <a href="" class="circle-icon-link circle-icon-link--shadow"><svg width="16" height="16"
                                        class="circle-icon">
                                        <use href="./images/icons/icons.svg#icon-shopping-cart"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product-list__item">
                    <div class="product-card">
                        <svg width="16" height="16" class="product-card__icon">
                            <use href="./images/icons/icons.svg#icon-comparison"></use>
                        </svg>
                        <div class="product-card__img-area">
                            <img srcset="/src/images/products/product3/product3.jpg 1x, 
                            /src/images/products/product3/product3@2x.jpg 2x, 
                            /src/images/products/product3/product3@3x.jpg 3x" 
                            src="/src/images/products/product3/product3.jpg" alt="bottle" class="product-cart__img"
                                width="97" heigth="132">
                        </div>
                        <div class="product-card__information-area">
                            <div>
                                <p class="product-card__name">Скор 250 ЕС к.э.</p>
                                <p class="product-card__availability">В наявності</p>
                            </div>
                            <div class="shopping-area">
                                <div>
                                    <p class="product-card__price">200 грн</p>
                                    <p class="product-card__numerosity">1 шт</p>
                                </div>
                                <a href="" class="circle-icon-link circle-icon-link--shadow"><svg width="16" height="16"
                                        class="circle-icon">
                                        <use href="./images/icons/icons.svg#icon-shopping-cart"></use>
                                    </svg></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="product-list__item">
                    <div class="product-card">
                        <svg width="16" height="16" class="product-card__icon">
                            <use href="./images/icons/icons.svg#icon-comparison"></use>
                        </svg>
                        <div class="product-card__img-area">
                            <img srcset="/src/images/products/product4/product4.jpg 1x, 
                            /src/images/products/product4/product4@2x.jpg 2x, 
                            /src/images/products/product4/product4@3x.jpg 3x" 
                            src="/src/images/products/product4/product4.jpg" alt="bottle" class="product-cart__img"
                                width="97" heigth="132">
                        </div>
                        <div class="product-card__information-area">
                            <div>
                                <p class="product-card__name">Скор 250 ЕС к.э.</p>
                                <p class="product-card__availability">В наявності</p>
                            </div>
                            <div class="shopping-area">
                                <div>
                                    <p class="product-card__price">200 грн</p>
                                    <p class="product-card__numerosity">1 шт</p>
                                </div>
                                <a href="" class="circle-icon-link circle-icon-link--shadow"><svg width="16" height="16"
                                        class="circle-icon">
                                        <use href="./images/icons/icons.svg#icon-shopping-cart"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="" class="circle-icon-link circle-icon-link--arrow  "><svg width="16" height="16"
                    class="circle-icon circle-icon--arrow">
                    <use href="./images/icons/icons.svg#icon-arrow-right"></use>
                </svg>
            </a>
        </div>
        <svg width="70" height="30" class="slider-icon slider-icon--margin">
            <use href="./images/icons/icons.svg#icon-slider-secondary"></use>
        </svg>
        <button type="button" class="button button--center">
            <p class="button__text">Дивитися усі товари</p>
        </button>
    </div>
</section>