<section class="seeds"><div class="container">   
    <div class="title-area">
        <svg class="leaf" width="14" height="11">
            <use href="./images/icons/icons.svg#icon-leaf"></use>
        </svg>
        <h2 class="title title--secondary-color">Семена</h2>
        <svg class="leaf leaf--right" width="14" height="11">
            <use href="./images/icons/icons.svg#icon-leaf"></use>
        </svg>
    </div>
    <ul class="seeds__list">
       <li class="seeds__item">
    <p class="seeds__text">Вирощування овочів, квітів на своїй ділянці або просто на балконі - це улюблене заняття 
        багатьох дачників та городників. Звичайно, свіжі овочі з власного городу натуральні, смачні 
        та корисні. Але щоб отримати хороший урожай томату або капусти, насолоджуватися цвітінням 
        петунії або троянди, важливо не тільки правильно доглядати за рослинами. Все починається із 
        вибору посівного матеріалу. І тут постає питання: яке насіння вибрати? Адже вони мають бути 
        якісними, давати гарну схожість.
    </p>
</li>
    <li class="seeds__item">
        <p class="seeds__text">
        Предлагаем покупателям широкий выбор семян овощей. 
        У нас вы можете найти семена баклажан, разных видов капусты, бобовых и бахчевых культур, 
        томата, перца, огурцов, лука, салата, чеснока, картофеля от отечественных и зарубежных 
        производителей.
    </p>
    </li>
    <li class="seeds__item seeds__item--hidden">
        <p class="seeds__text">Также вы можете найти в нашем каталоге семена цветов: однолетних (петуния, львиный зев, 
            календула и т.д.), двулетних (виола, примула, мальва), многолетних (иберис, анемона, 
            гибискус, дельфиниум, фрезия), луковичных (тюльпаны, лилия, ирис, нарциссы), комнатных 
            (гербера, бегония, кактус, мимоза, пасифлора). Конечно, это далеко не весь список — 
            каждая хозяйка найдет здесь свой любимый цветок.

        </p>
    </li>
    <li class="seeds__item seeds__item--hidden">
        <p class="seeds__text">В широком ассортименте представлены саженцы плодовых деревьев, роз, ягодных кустов. У нас 
            вы можете купить семена газонной травы, а также сопутствующие товары: удобрения, 
            средства защиты, биопрепараты, садовый инвентарь, субстраты, грунты, агроволокно, 
            горшки, кассеты для рассады.
        </p>
    </li>
    </ul>
   <button type="button" class="read-more"> <u class="read-more__text">Читать полностью</u> <svg class="small-arrow" width="12"
    height="12">
    <use href="./images/icons/icons.svg#icon-arrow-down"></use>
</svg>
</button>
    </div>
</section>
